{% extends "base.html"%}
{% block content %}
<div class="jumbotron">
    <p>Let's see how you performed!!</p>

    {% if upper and lower and number %}
    <p>Your User Name passed the 3 requirements!</p>
    {% else %}
    <p>Oh no! looks like you had issues with your username!</p>
    <p>Here are the requirements you failed:</p>
    <ul>
        {% if not upper %}
        <li>You did not use an uppercase character.</li>
        {% endif %}
        {% if not lower %}
        <li>You did not use a lowercase character.</li>
        {% endif %}
        {% if not number %}
        <li>You did not end with a number.</li>
        {% endif %}
    </ul>
    {% endif%}
</div>
{% endblock %}